{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />
<title>{{title}} | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
    <div class="row justify-content-center" style="background-color: rgb(226, 221, 200); text-align:center;" >
        <div class="col-12">
            <h2 style="padding:1em;">{{title}}</h2>
        </div>
    </div>
    <div class="books row" style="padding: 3% 8%;">
        {% for book in books %}
        <div class="col-sm-4 col-md-3 col-lg-3" style="padding: 1%; text-align:center; height:auto;">
            <div class="book" style="border: 0.5px solid black; height: 60vh; padding:0; width:100%; overflow:auto">
                <img src={{book.photo.url}} alt="#" style="width: 100%; height: 80%;">
                <p style="margin: 0;">{{book.title}}</p>
                <p style="margin: 0%;"><i>{{book.writer}}</i></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4>Some more useful books...</h4>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    </tr>
                </thead>
                <tbody>
                    {% comment %} <tr>
                     
                    <td>S. No.</td>
                    <td>Title</td>
                    <td>Author</td>
                    </tr> {% endcomment %}
                    <tr>
                     
                    <td>1</td>
                    <td>Peak: how all of us can achieve extraordinary things</td>
                    <td>Anders Ericsson ,‎ Robert Pool</td>
                    </tr>
                    <tr>
                     
                    <td>2</td>
                    <td>Lean in - for graduates</td>
                    <td>Sheryl Sandberg</td>
                    </tr>
                    <tr>
                     
                    <td>3</td>
                    <td>
                        <p>How to Fail at Almost Everything and Still Win Big: Kind of the Story of My Life</p>
                    </td>
                    <td>Scott Adams</td>
                    </tr>
                    <tr>
                     
                    <td>4</td>
                    <td>Deep Work: Rules for Focused Success in a Distracted World</td>
                    <td>Cal Newport</td>
                    </tr>
                    <tr>
                     
                    <td>5</td>
                    <td>
                        <p>The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change</p>
                    </td>
                    <td>Stephen Covey</td>
                    </tr>
                    <tr>
                     
                    <td>6</td>
                    <td>What Color is Your Parachute? 2018</td>
                    <td>Richard N. Bolles</td>
                    </tr>
                    <tr>
                     
                    <td>7</td>
                    <td>
                        <p>Networking for Nerds: Find, Access and Land Hidden Game–Changing Career Opportunities Everywhere</p>
                    </td>
                    <td>Alaina G. Levine</td>
                    </tr>
                    <tr>
                     
                    <td>8</td>
                    <td>Zero to One: Note on Start Ups, or How to Build the Future</td>
                    <td>Thiel, Peter and Masters, Blake</td>
                    </tr>
                    <tr>
                     
                    <td>9</td>
                    <td>
                        <p>Stretch : Unlock the Power of Less -and Achieve More Than You Ever Imagined</p>
                    </td>
                    <td>Scott Sonenshein</td>
                    </tr>
                    <tr>
                     
                    <td>10</td>
                    <td>The Go-Giver: A Little Story About a Powerful Business Idea</td>
                    <td>Burg, Bob and Mann, John David</td>
                    </tr>
                    <tr>
                     
                    <td>11</td>
                    <td>Talk Like TED: The 9 Public-Speaking Secrets of the World's Top Minds</td>
                    <td>Jonathan Schwabish</td>
                    </tr>
                    <tr>
                     
                    <td>12</td>
                    <td>Who Wants to be a Scientist?: Choosing Science as a Career</td>
                    <td>Nancy Rothwell</td>
                    </tr>
                    <tr>
                     
                    <td>13</td>
                    <td>Simply said: communicating better at work and beyond</td>
                    <td>Jay Sullivan</td>
                    </tr>
                    <tr>
                     
                    <td>14</td>
                    <td>Ego is the Enemy: The Fight to Master Our Greatest Opponent</td>
                    <td>Ryan Holiday</td>
                    </tr>
                    <tr>
                     
                    <td>15</td>
                    <td>Focus: The Hidden Driver of Excellence</td>
                    <td>Daniel Goleman</td>
                    </tr>
                    <tr>
                     
                    <td>16</td>
                    <td>Creativity Inc.</td>
                    <td>Ed Catmull</td>
                    </tr>
                    <tr>
                     
                    <td>17</td>
                    <td>To Engineer Is Human: The Role of Failure in Successful Design</td>
                    <td>Henry Petroski</td>
                    </tr>
                    <tr>
                     
                    <td>18</td>
                    <td>The Happiness Advantage</td>
                    <td>Shawn Achor</td>
                    </tr>
                    <tr>
                     
                    <td>19</td>
                    <td>Drive: The Surprising Truth About What Motivates Us</td>
                    <td>Daniel H. Pink</td>
                    </tr>
                    <tr>
                     
                    <td>20</td>
                    <td>Give and Take: Why Helping Others Drives Our Success</td>
                    <td>Adam Grant</td>
                    </tr>
                    <tr>
                     
                    <td>21</td>
                    <td>Conversational Intelligence</td>
                    <td>Judith E. Glaser</td>
                    </tr>
                    <tr>
                     
                    <td>22</td>
                    <td>The Carpenter: A Story About the Greatest Success Strategies of All</td>
                    <td>Jon Gordon</td>
                    </tr>
                    <tr>
                     
                    <td>23</td>
                    <td>The Craft of Scientific Writing, 3rd Edition</td>
                    <td>Michael Alley</td>
                    </tr>
                    <tr>
                     
                    <td>24</td>
                    <td>
                        <p>Elon Musk: How the Billionaire CEO of Spacex and Tesla is Shaping Our Future</p>
                    </td>
                    <td>Ashlee Vance</td>
                    </tr>
                    <tr>
                     
                    <td>25</td>
                    <td>Shoot, Dive, Fly: Stories of Grit and Adventure from the Indian Army</td>
                    <td>Rachna Bisht Rawat</td>
                    </tr>
                    <tr>
                     
                    <td>26</td>
                    <td>
                        <p>The Man Behind the Wheel: How Onkar S. Kanwar Created a Global Giant</p>
                    </td>
                    <td>A.P.J. Abdul Kalam</td>
                    </tr>
                    <tr>
                     
                    <td>27</td>
                    <td>
                        <p>Hit Refresh: The Quest to Rediscover Microsoft’s Soul and Imagine a Better Future for Everyone</p>
                    </td>
                    <td>Satya Nadella</td>
                    </tr>
                    <tr>
                     
                    <td>28</td>
                    <td>
                        <p>Mastering Your Phd: Survival And Success In The Doctoral Years And Beyond</p>
                    </td>
                    <td>
                        <p>Gosling, Patricia and Noordam, Lambertus D.</p>
                    </td>
                    </tr>
                    <tr>
                     
                    <td>29</td>
                    <td>The Power of Habit: Why We Do What We Do, and How to Change</td>
                    <td>Charles Duhigg</td>
                    </tr>
                    <tr>
                     
                    <td>30</td>
                    <td>Hooked: How to Build Habit-Forming Products</td>
                    <td>Nil Eyal</td>
                    </tr>
                    <tr>
                     
                    <td>31</td>
                    <td>
                        <p>The Dip: The extraordinary benefits of knowing when to quit (and when to stick)</p>
                    </td>
                    <td>Seth Godin</td>
                    </tr>
                    <tr>
                     
                    <td>32</td>
                    <td>Tribes: We need you to lead us</td>
                    <td>Seth Godin</td>
                    </tr>
                    <tr>
                     
                    <td>33</td>
                    <td>A Biography of Innovations: From Birth to Maturity</td>
                    <td>R. Gopalakrishnan</td>
                    </tr>
                    <tr>
                     
                    <td>34</td>
                    <td>
                        <p>What the CEO Really Wants From You: The 4 As for Managerial Success</p>
                    </td>
                    <td>R. Gopalakrishnan</td>
                    </tr>
                    <tr>
                     
                    <td>35</td>
                    <td>When the Penny Drops: Learning What’s Not Taught</td>
                    <td>R. Gopalakrishnan</td>
                    </tr>
                    <tr>
                     
                    <td>36</td>
                    <td>Procrastination: Why You Do It, What to Do About It Now:</td>
                    <td>Jane B. Burka and Lenora M. Yuen</td>
                    </tr>
                    <tr>
                     
                    <td>37</td>
                    <td>Linkedin for Personal Branding: The Ultimate Guide</td>
                    <td>Sandra Long</td>
                    </tr>
                    <tr>
                     
                    <td>38</td>
                    <td>
                        <p>Navigating the Path to Industry: A Hiring Manager's Advice for Academics Looking for a Job in Industry</p>
                    </td>
                    <td>M.R. Nelson</td>
                    </tr>
                    <tr>
                     
                    <td>39</td>
                    <td>Meetings Matter: 8 Powerful Strategies for Remarkable Conversations</td>
                    <td>Paul Axtell</td>
                    </tr>
                    <tr>
                     
                    <td>40</td>
                    <td>Getting Things Done: The Art of Stress-Free Productivity</td>
                    <td>David Allen</td>
                    </tr>
                    <tr>
                     
                    <td>41</td>
                    <td>
                        <p>Case Interview Secrets: A Former McKinsey Interviewer Reveals How to Get Multiple Job Offers in Consulting</p>
                    </td>
                    <td>Victor Cheng</td>
                    </tr>
                    <tr>
                     
                    <td>42</td>
                    <td>Better Presentations: A Guide for Scholars, Researchers, and Wonks</td>
                    <td>Jonathon Schwabish</td>
                    </tr>
                    <tr>
                     
                    <td>43</td>
                    <td>Getting It Done: How to Lead When You're Not in Charge</td>
                    <td>Fisher, Roger and Sharp,‎ Alan</td>
                    </tr>
                    <tr>
                     
                    <td>44</td>
                    <td>
                        <p>Thanks for the Feedback: The Science and Art of Receiving Feedback Well</p>
                    </td>
                    <td>Stone, Douglas and Heen, Sheila</td>
                    </tr>
                    <tr>
                     
                    <td>45</td>
                    <td>Discover Your Destiny (Hindi)</td>
                    <td>Robin Sharma</td>
                    </tr>
                    <tr>
                     
                    <td>46</td>
                    <td>The Leader Who Had No Title (Hindi)</td>
                    <td>Robin Sharma</td>
                    </tr>
                    <tr>
                     
                    <td>47</td>
                    <td>The Life and Legacy of G. I. Taylor</td>
                    <td>G.K. Batchelor</td>
                    </tr>
                    <tr>
                     
                    <td>48</td>
                    <td>The Google Story</td>
                    <td>David A. Vise</td>
                    </tr>
                    <tr>
                     
                    <td>49</td>
                    <td>Voyage Through Time: Walks of Life to the Nobel Prize</td>
                    <td>Ahmed Zewail</td>
                    </tr>
                    <tr>
                     
                    <td>50</td>
                    <td>The Design of Everyday Things</td>
                    <td>Don Norman</td>
                    </tr>
                    <tr>
                     
                    <td>51</td>
                    <td>Who Wants to be a Scientist?: Choosing Science as a Career</td>
                    <td>Nancy Rothwell</td>
                    </tr>
                    <tr>
                     
                    <td>52</td>
                    <td>The Last Lecture</td>
                    <td>Randy Pausch</td>
                    </tr>
                    <tr>
                     
                    <td>53</td>
                    <td>Outliers: the story of success</td>
                    <td>Malcolm Gladwell</td>
                    </tr>
                    <tr>
                     
                    <td>54</td>
                    <td>
                        <p>Winners Never Cheat: Everyday Values We Learned as Children (But May Have Forgotten)</p>
                    </td>
                    <td>Jon Huntsman</td>
                    </tr>
                    <tr>
                     
                    <td>55</td>
                    <td>
                        <p>The Gecko's Foot: How Scientists are Taking a Leaf from Nature's Book</p>
                    </td>
                    <td>Peter Forbes</td>
                    </tr>
                    <tr>
                     
                    <td>56</td>
                    <td>
                        <p>Presentation Zen: Simple Ideas on Presentation Design and Delivery (2nd Edition) (Voices That Matter)</p>
                    </td>
                    <td>Garr Reynolds</td>
                    </tr>
                    <tr>
                     
                    <td>57</td>
                    <td>
                        <p>Endure: Mind, Body, and the Curiously Elastic Limits of Human Performance</p>
                    </td>
                    <td>Alex Hutchinson</td>
                    </tr>
                    <tr>
                     
                    <td>58</td>
                    <td>
                        <p>Irresistible: The Rise of Addictive Technology and the Business of Keeping Us Hooked</p>
                    </td>
                    <td>Adam Alter</td>
                    </tr>
                    <tr>
                     
                    <td>59</td>
                    <td>
                        <p>The Obstacle is the Way: The Ancient Art of Turning Adversity to Advantage</p>
                    </td>
                    <td>Ryan Holiday</td>
                    </tr>
                    <tr>
                     
                    <td>60</td>
                    <td>Alibaba: The House that Jack Ma Built</td>
                    <td>Duncan Clark</td>
                    </tr>
                    <tr>
                     
                    <td>61</td>
                    <td>Shoe Dog: A Memoir by the Creator of Nike</td>
                    <td>Phil Knight</td>
                    </tr>
                    <tr>
                     
                    <td>62</td>
                    <td>A Mind at Play: How Claude Shannon Invented the Information Age</td>
                    <td>Soni, Jimmy and Goodman, Rob</td>
                    </tr>
                    <tr>
                     
                    <td>63</td>
                    <td>Drive and Curiosity: What Fuels the Passion for Science</td>
                    <td>Hargittai, Istvan‎ and Djerassi, Carl</td>
                    </tr>
                    <tr>
                     
                    <td>64</td>
                    <td>Microbe Hunters</td>
                    <td>Kruif, Paul De and Crussi,‎ F. Gonzalez-</td>
                    </tr>
                    <tr>
                     
                    <td>65</td>
                    <td>Headstrong: 52 Women Who Changed Science-and the World</td>
                    <td>Rachel Swaby</td>
                    </tr>
                    <tr>
                     
                    <td>66</td>
                    <td>168 Hours: You Have More Time Than You Think</td>
                    <td>Laura Vanderkam</td>
                    </tr>
                    <tr>
                     
                    <td>67</td>
                    <td>Managing the Mental Game</td>
                    <td>Jeff Boss</td>
                    </tr>
                    <tr>
                     
                    <td>68</td>
                    <td>
                        <p>The War of Art: Break Through the Blocks and Win Your Inner Creative Battles</p>
                    </td>
                    <td>Steve Pressfield</td>
                    </tr>
                    <tr>
                     
                    <td>69</td>
                    <td>The Simple Science of Flight</td>
                    <td>Henk Tennekes</td>
                    </tr>
                    <tr>
                     
                    <td>70</td>
                    <td>
                        <p>The Invention That Changed the World: How a Small Group of Radar Pioneers Won the Second World War and Launched a Technical Revolution</p>
                    </td>
                    <td>Robert Buderi</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
