{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />
<title>{{title}} | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
    <div class="row justify-content-center" style="background-color: rgb(226, 221, 200); text-align:center;" >
        <div class="col-12">
            <h2 style="padding:1em;">{{title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br>
            <h2>Some useful links and reads for graduate students for their career aspirations...</h2>
            <div class="row">
                             
                               <ol type=".">
				<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://www.vitae.ac.uk/researchers-professional-development" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'"> Vitae</a></li></h2>
                       
     				<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="http://www.sciencemag.org/careers" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">Science Careers      </a> </li>          </h2>
      				<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://www.academickeys.com/" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'"> Academic Keys</a></li></h2>
                                <h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://www.nature.com/naturejobs/science/" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'"> Nature Jobs</a></li>   </h2>
                           
                 		<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://naturecareersindia.com/" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">Nature Careers (India)</a></li></h2>
                        
                                <h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://chroniclevitae.com/" style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">Chronicle of Higher Education</a></li></h2>
                       
                         	<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: #000000;" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="http://myidp.sciencecareers.org/" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">Individual Development Plan (by Science Careers)</a></li> </h2>
                        
                                <h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: #000000;" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://twas.org/opportunities/fellowships/postdoc" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">Postdoctoral Research Opportunities</a></li></h2>
                       
                                <h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: #000000;" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://www.euraxess.de/" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">  Euraxess   </a></li></h2>
                                <h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: #000000;" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://careers.nationalpostdoc.org/" style="color: #000000;" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'"> National Post Document</a></li></h2>
                             </ol>

                             
                           
                        </div>
                        
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br>
                        <div class="row">
                        <h4 style="color:black;font-size:30px;">Some of the following articles/webpages suggested by students may prove to be an interesting read:</h4>
                             
                               <ol type=".">
				<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="https://cseweb.ucsd.edu/~swanson/papers/science-of-writing.pdf" style="color: #000000;" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"></a><a href="https://careers.nationalpostdoc.org/" style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'">Science of Writing</a></li></h2>
                       
     				<h2 style="color:black;font-size:24px;margin-left:20px;font-style:italic;"><li style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"><a href="http://www.weizmann.ac.il/mcb/UriAlon/materials-nurturing-scientists" style="color:#000000;" onmouseover="this.style.color='#21618C';" onmouseout="this.style.color='#000000'"></a><a href="https://careers.nationalpostdoc.org/" style="color: rgb(0, 0, 0);" onmouseover="this.style.color='#21618C'" onmouseout="this.style.color='#000000'"> Materials for nurturing scientists (Prof. Uri Alon)
    </a> </li>          </h2>
      			       </ol>



			</div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
