{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Career Development, HOD's Message | CDPC IIT Ropar</title>
<link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />


<style>
	#pd_hod_message_heading {
		background-image: url('/static/info/images/symbol_3.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
{% endblock %}

{% block body_content %}
<div class="container-fluid">
	<div class="row">
		<div id="pd_hod_message_heading" class="col-md-9">
			<h1 style="margin-top:1em; margin-bottom:1em; color:white;">A Bio of <br>Vice-Chairman, Career Development
				and Placement Cell</h1>
		</div>
		<div class="col-md-3" style="padding:0;">
			<img style="object-fit:cover;height:35em; width:100%; max-height: 300px;" src="{% static 'info/pd/images/hod_2.jpeg' %}"
				alt="Pd HOD's Image" style="width:100%;">
		</div>

	</div>
	<div class="row">
		{% comment %} <div class="col-md-1"></div> {% endcomment %}
		<div class="col-md-12" style="background-color:white;">
			<p style="color:black; padding:1em;">
				It is my pleasure to introduce and invite you to the Indian Institute of Technology Ropar for various
				placement and internship options. IIT Ropar has evolved as one of the top-ranking institutes in India
				and Globally in a short span of time. The global rank of IIT Ropar has improved over the years, and
				one of the reasons for it is the excellent academic program offered in our campus. The backbone of
				our institute is the students and the young faculty having new and innovative ideas. Our faculty
				collaborates with highly reputed organizations that allow our students to learn from live R&amp;D
				projects.
				<br><br>
				Students in our campus are engaged in well devised classroom and laboratory activities and active
				participation in R&amp;D and industrial projects. IIT Ropar’s curriculum has been designed to provide
				strong technical knowledge, and at the same time, it also nurtures a sense of responsibility and
				leadership among students. Further, fostering leadership quality, students are encouraged to
				participate in student societies, competitions, social service activities, and entrepreneurship from the
				early stage.
				<br><br>
				At IIT Ropar, several options for industrial and research internships are available, which have been
				crafted to accord with the requirements of the different industries at various levels. Our students are
				ready to take any challenging task given to them, and I am confident that wherever our students will
				be provided with opportunities, they will outshine. With this, I once again invite you to our campus for
				placement and internship options, your recruitment team will have a very productive and satisfying
				visit to our institute.
				<br><br>
				‘‘सा विद्या या विमुक्तये’’<br>
				(Education is that which provides Freedom)<br>
				Jai Hind!
			</p>
		</div>
		{% comment %} <div class="col-md-6"></div>
		<div class="col-md-1"></div> {% endcomment %}

	</div>
</div>

{% endblock %}