{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />
<title>{{title}} | CDPC IIT Ropar</title>
{% endblock %}

{% block body_content %}

<div class="row justify-content-center" style="background-color: rgb(226, 221, 200); text-align:center; margin:0;" >
    <div class="col-12">
        <h2 style="padding:1em;">{{title}}</h2>
    </div>
</div>

<div class="row" style="text-align: center;  margin:0;">
    {% for video in videos %}
    <div class="col-sm-12 col-md-6 col-lg-6" style='text-align:center; padding-left:6rem; padding-top:2rem; padding-bottom:2em;'>
        <div class="embed-responsive embed-responsive-16by9" style=" width:80%; text-align:center;">
            <iframe  height="30vh;"  src="{{video.youtube_embed_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}