{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>INF Details | Recruiter | CDPC IIT Ropar</title>
    <link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_content %}
    <div class="container-fluid">
        <div class="row">
            <div style="background-color:white;" class="col-md-12">
                <h1>Internship Notification Form</h1>
                <hr>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="12"><strong>About the Organisation</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2">Name of the Organisation</td>
                            <td colspan="4">{{inf_details.about.aboutCompanyName}}</td>
                            <td colspan="2">Website of the Organisation</td>
                            <td colspan="4">{{inf_details.about.aboutCompanyWebsite}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">Postal Address</td>
                            <td colspan="6">{{inf_details.about.aboutCompanyAddress}}</td>
                        </tr>
                        <tr>
                            <td colspan="6"><strong>Type of Organisation</strong></td>
                            <td colspan="6">
                                {% for k in inf_details.type_is %}
                                        {{k}}, 
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"><strong>Industry Sector</strong></td>
                            <td colspan="6">
                                {% for k in inf_details.sector_is %}
                                        {{k}},
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><strong>Head HR Details</strong></td>
                            <td colspan="4"><strong>Primary Contact Details</strong></td>
                            <td colspan="4"><strong>Secondary Contact Details</strong></td>
                        </tr>
                        <tr>
                            <td colspan="4">Name: {{inf_details.hr_info.hr_info_headHRName|default:"NA"}}</td>
                            <td colspan="4">Name: {{inf_details.hr_info.hr_info_primaryContactName|default:"NA"}}</td>
                            <td colspan="4">Name: {{inf_details.hr_info.hr_info_secondaryContactName|default:"NA"}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">Email: {{inf_details.hr_info.hr_info_headHREmail|default:"NA"}}</td>
                            <td colspan="4">Email: {{inf_details.hr_info.hr_info_primaryContactEmail|default:"NA"}}</td>
                            <td colspan="4">Email: {{inf_details.hr_info.hr_info_secondaryContactEmail|default:"NA"}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">Phone One: {{inf_details.hr_info.hr_info_headHRPhoneOne|default:"NA"}}</td>
                            <td colspan="4">Phone One: {{inf_details.hr_info.hr_info_primaryContactPhoneOne|default:"NA"}}</td>
                            <td colspan="4">Phone One: {{inf_details.hr_info.hr_info_secondaryContactPhoneOne|default:"NA"}}</td>
                        </tr>
                        <tr>
                            <td colspan="4">Phone Two: {{inf_details.hr_info.hr_info_headHRPhoneTwo|default:"NA"}}</td>
                            <td colspan="4">Phone Two: {{inf_details.hr_info.hr_info_primaryContactPhoneTwo|default:"NA"}}</td>
                            <td colspan="4">Phone Two: {{inf_details.hr_info.hr_info_secondaryContactPhoneTwo|default:"NA"}}</td>
                        </tr>
                        {% for k, v in inf_details.job_profiles.items %}
                                <tr>
                                    <td colspan="12"><strong>Job Profile #{{k}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4">Designation: {{v.Designation|default:"NA"}}</td>
                                    <td colspan="4">Description: {{v.Description|default:"NA"}}</td>
                                    <td colspan="4">Place of Posting: {{v.PlaceOfPosting|default:"NA"}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4">2 Month: {{v.2_Month|default:"NA"}}</td>
                                    <td colspan="4">6 Month: {{v.6_Month|default:"NA"}}</td>
                                    <td colspan="4">Joint Master Thesis: {{v.JMT|default:"NA"}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Stipend: {{v.Stipend|default:"NA"}}</td>
                                    <td colspan="3">Bonus/Perks: {{v.Bonus_Incentives|default:"NA"}}</td>
                                    <td colspan="3">Accomodation/Trip Fare: {{v.Accomodation_Trip_Fare|default:"NA"}}</td>
                                    <td colspan="3">Bond/Service Conditions: {{v.Bond_Service_Conditions|default:"NA"}}</td>
                                </tr>
                                
                        {% endfor %}

                        <tr>
                            <td colspan="1"><strong>Selection Process</strong></td>
                            <td colspan="5">
                                {% for k,v in inf_details.selection_process.items %}
                                    {{k}}: {{v|default:"NA"}}<br>
                                {% endfor %}
                            </td>
                            <td colspan="1"><strong>Disciplines</strong></td>
                            <td colspan="5">
                                {% for k,v in inf_details.disciplines_interested_in.items %}
                                    {{k}}: {{v|default:"NA"}}<br>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><strong>Logistics Requirements</strong></td>
                            <td colspan="10">{{inf_details.logistics_requirements|default:"NA"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}