{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Guide | Recruiter | CDPC IIT Ropar</title>
<link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '_styles_build/info/css/recruiter.css' %}" rel="stylesheet" type="text/css" />
<style>

</style>
{% endblock %}

{% block body_content %}
<div class="container-fluid recruiter_container">
    <div class="recruiter_box">
        <div class="row" style="margin:0; padding:0">
            <div class="recruiter_head col-12 al-center">
                Recruiter Guide
            </div>
        </div>
        <div class="recruiter_text">
            <div class="row">
                <div class="col-2 ol-num-wrap">
                    <div class="ol-num">1</div>
                </div>
                <div class="col">
                    <p>
                        Welcome to CDPC IIT Ropar! We look forward to working with your organization.
                        Contact us on placement@iitrpr.ac.in for any placement or internship related queries or give a
                        call
                        to any of our team members at any of the numbers mentioned on the <a style="color:DodgerBlue;"
                            href="{% url 'info:student_team' %}">team</a>
                        page.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 ol-num-wrap">
                    <div class="ol-num">2</div>
                </div>
                <div class="col">
                    <p>
                        We'll request you to give the details of the profiles that you'll be recruiting for by filling
                        the
                        Job Announcement Form (for placements) and
                        the Internship Notification Form (for internships)
                        to formally kickstart the recruiting process.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 ol-num-wrap">
                    <div class="ol-num">3</div>
                </div>
                <div class="col">
                    <p>
                        Once you have filled the JAF or INF, we will get in touch with you to work out a suitable slot
                        which
                        works for
                        your organization. Meanwhile, we will quickly collect the data of the students eligible for
                        interviewing for the
                        profiles that you have floated.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 ol-num-wrap">
                    <div class="ol-num">4</div>
                </div>
                <div class="col">
                    <p>
                        The recruitment process will be carried out during the agreed upon slot. Given the COVID-19
                        situation this year,
                        we are fully geared to conduct all the processes online as per convenience.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-2 ol-num-wrap">
                    <div class="ol-num">5</div>
                </div>
                <div class="col">
                    <p>
                        Once the students have been selected, we'll help you out with all the onboarding formalities
                        where
                        required.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}