{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<script type="text/javascript" src="{% static 'info/js/demographics.js' %}"></script> 
<link href="{% static '_styles_build/info/css/demographics.css' %}" rel="stylesheet" type="text/css" />

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<title>Student Demographics | CDCRC IIT Ropar</title>

{% endblock %}

{% block body_content %}
    <div class="row justify-content-center" style="background-color: rgb(226, 221, 200); text-align:center;" >
        <div class="col-12">
            <h2 style="padding:1em;">Student Demographics</h2>
        </div>
    </div>
    
    <div class="box">
        <div class="ug grad">
            <div class="subheading">
                <h3>UG Students Graduating in 2021</h3>
            </div>
            <div id="chartdiv1">
              <script>
                am4core.ready(function() {
                
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                
                var chart = am4core.create("chartdiv1", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                var demographics=[]
                "{% for demographic in demographics %}"
                  {
                    "{%  if demographic.category == 'ugp' %}"
                    {
                      let demographic={department: "{{ demographic.get_department_display|safe }}", strength: " {{ demographic.strength|safe }}"}
                      demographics.push(demographic);
                    }
                    "{% endif %}"
                   }
                "{% endfor %}"


                chart.data = demographics;
                
                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;
                
                }); // end am4core.ready()
              </script>
            </div>
        </div>
        <hr>
        <div class="pg grad">
            <div class="subheading">
                <h3>PG Students Graduating in 2021</h3>
            </div>
            <div id="chartdiv2">
              <script>
                am4core.ready(function() {
                
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                
                var chart = am4core.create("chartdiv2", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                var demographics=[]
                "{% for demographic in demographics %}"
                  {
                    "{%  if demographic.category == 'pgp' %}"
                    {
                      let demographic={department: "{{ demographic.get_department_display|safe }}", strength: " {{ demographic.strength|safe }}"}
                      demographics.push(demographic);
                    }
                    "{% endif %}"
                   }
                "{% endfor %}"


                chart.data = demographics;
                
                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;
                
                }); // end am4core.ready()
              </script>
            </div>
        </div>
        <hr>
        <div class="ug intern">
            <div class="subheading">
                <h3>UG Students Interning in Summer of 2021</h3>
            </div>
            <div id="chartdiv3">
                <script>
                am4core.ready(function() {
                
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                
                var chart = am4core.create("chartdiv3", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                var demographics=[]
                "{% for demographic in demographics %}"
                  {
                    "{%  if demographic.category == 'ugi' %}"
                    {
                      let demographic={department: "{{ demographic.get_department_display|safe }}", strength: " {{ demographic.strength|safe }}"}
                      demographics.push(demographic);
                    }
                    "{% endif %}"
                   }
                "{% endfor %}"


                chart.data = demographics;
                
                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;
                
                }); // end am4core.ready()
              </script>
            </div>
        </div>
    </div>
    


{% endblock %}