{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<link href="{% static '_styles_build/info/css/demographics.css' %}" rel="stylesheet" type="text/css" />

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<link href="{% static '_styles_build/info/css/recruiter.css' %}" rel="stylesheet" type="text/css" />

<title>Student Demographics | CDCRC IIT Ropar</title>

{% endblock %}

{% block body_content %}
<div class="container-fluid recruiter_container">
  <div class="recruiter_box">
    <div class="row" style="margin:0; padding:0">
      <div class="recruiter_head col-12 al-center">
          Student Demographics
      </div>
    </div>
    <div class="recruiter_text">
      <div class="row">
        <div class="chartwrap">
          <div>
            <h3 class="subheading theme-col">UG Students Graduating in 2021</h3>
          </div>
          <div id="chartdiv1" class="chartdiv">
            <script>
              am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create("chartdiv1", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                var demographics = []
                "{% for demographic in demographics %}"
                {
                  "{%  if demographic.category == 'ugp' %}"
                  {
                    let demographic = { department: "{{ demographic.get_department_display|safe }}", strength: " {{ demographic.strength|safe }}" }
                    demographics.push(demographic);
                  }
                  "{% endif %}"
                }
                "{% endfor %}"


                chart.data = demographics;

                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;

              }); // end am4core.ready()
            </script>
          </div>
        </div>
        <div class="chartwrap">
          <div>
            <h3 class="subheading theme-col">PG Students Graduating in 2021</h3>
          </div>
          <div id="chartdiv2" class="chartdiv">
            <script>
              am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create("chartdiv2", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                var demographics = []
                "{% for demographic in demographics %}"
                {
                  "{%  if demographic.category == 'pgp' %}"
                  {
                    let demographic = { department: "{{ demographic.get_department_display|safe }}", strength: " {{ demographic.strength|safe }}" }
                    demographics.push(demographic);
                  }
                  "{% endif %}"
                }
                "{% endfor %}"


                chart.data = demographics;

                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;

              }); // end am4core.ready()
            </script>
          </div>
        </div>
        <div class="chartwrap">
          <div>
            <h3 class="subheading theme-col">UG Students Interning in Summer of 2021</h3>
          </div>
          <div id="chartdiv3" class="chartdiv">
            <script>
              am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create("chartdiv3", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                var demographics = []
                "{% for demographic in demographics %}"
                {
                  "{%  if demographic.category == 'ugi' %}"
                  {
                    let demographic = { department: "{{ demographic.get_department_display|safe }}", strength: " {{ demographic.strength|safe }}" }
                    demographics.push(demographic);
                  }
                  "{% endif %}"
                }
                "{% endfor %}"


                chart.data = demographics;

                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;

              }); // end am4core.ready()
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}