{% extends 'base.html' %}
{% load static %}

{% block head_content %}
{% comment %} css file for contacts.html {% endcomment %}
{% comment %}
<script type="text/javascript" src="{% static 'info/js/for_recruiters.js' %}"></script> {% endcomment %}
<link href="{% static '_styles_build/info/css/recruiter.css' %}" rel="stylesheet" type="text/css" />


<title>Why Recruit | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
<div class="container-fluid recruiter_container">
    <div class="recruiter_box">
        <div class="row" style="margin:0; padding:0">
            <div class="recruiter_head col-12">
                <h2 class="theme-col">Why Recruit?</h2>
            </div>
        </div>
        <div class="recruiter_text">
            <div class="row" style="margin:0; padding:0">
                <p>
                    Indian Institute of Technology, Ropar is one of the eight new IITs set up by the
                    Ministry of
                    Human Resource Development (MHRD), Government of India, to expand the reach and
                    enhance
                    the
                    quality of technical education in the country.
                    This Institute is committed to providing state-of-the-art technical education in a
                    variety
                    of fields and also for facilitating transmission of knowledge in keeping with latest
                    developments in pedagogy.
                    These two areas of focus will enable students to gain exposure to recent trends in
                    their
                    chosen domains of study and gain practical experience through a wide variety of
                    activities
                    the Institute facilitates in its own campus and arranges for in collaboration with
                    industry
                    and other Institutes.
                </p>
                <h4 class="theme-col margin-before">Academic Offerings</h4>
                <p>
                    At present, the Institute offers Bachelor of Technology (B.Tech.) and B.Tech +
                    M.Tech
                    (dual
                    degree) in Mechanical Engineering programme in the following disciplines:.


                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>
                            Chemical Engineering

                        </li>
                        <li>
                            Civil Engineering

                        </li>
                        <li>
                            Computer Science and
                            Engineering
                        </li>
                        <li>
                            Electrical
                            Engineering

                        </li>
                        <li>
                            Mechanical
                            Engineering.

                        </li>
                        <li>
                            Metallurgical and
                            Materials Engineering.
                        </li>
                    </ul>
                </div>
                </p>

                <p>
                    This programme is spread over a period of four semesters. Institute offers
                    M.Tech
                    programme in the following disciplines:
                <div class="l-wrap">

                    <ul style="font-size: 0.9em">
                        <li>
                            Biomedical
                            Engineering
                        </li>
                        <li>
                            Computer
                            Science
                            and Engineering
                        </li>
                        <li>
                            Electrical
                            Engineering with specialization in Power Engineering, Communication
                            &amp;
                            Signal Processing.
                        </li>
                        <li>
                            Mechanical
                            Engineering with specialization in Thermal Engineering,Manufacturing
                            Engineering,Mechanics &amp; Design Engineering
                        </li>
                    </ul>
                </div>
                </p>

                <p>
                    Institute also offers M.Sc programme in the following disciplines:
                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>
                            Physics
                        </li>
                        <li>
                            Chemistry
                        </li>
                        <li>
                            Mathematics
                        </li>
                    </ul>
                </div>
                </p>

                <p>
                    Institute offers M.S(Research) programme in the following
                    disciplines :
                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>
                            Computer Science and Engineering
                        </li>
                        <li>
                            Electrical Engineering
                        </li>
                    </ul>
                </div>
                </p>

                <p>
                    In addition, the institute offers doctoral programme in following
                    disciplines.
                <p style="font-weight:bold;">
                    Engineering:</p>
                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>

                            Chemical Engineering
                        </li>
                        <li>

                            Civil Engineering
                        </li>
                        <li>

                            Computer Science and Engineering
                        </li>
                        <li>

                            Electrical Engineering
                        </li>
                        <li>

                            Mechanical Engineering
                        </li>
                        <li>

                            Metallurgical and Materials Engineering
                        </li>
                    </ul>
                </div>
                <p style="font-weight:bold;">
                    Science :</p>
                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>
                            Chemistry
                        </li>
                        <li>
                            Physics
                        </li>
                        <li>
                            Mathematics
                        </li>
                    </ul>
                </div>
                <p style="font-weight:bold;">
                    Humanities:</p>
                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>
                            Humanities and Social Sciences
                        </li>
                    </ul>
                </div>
                <p style="font-weight:bold;">
                    Centers:</p>
                <div class="l-wrap">
                    <ul style="font-size: 0.9em">
                        <li>
                            Biomedical Engineering
                        </li>
                    </ul>
                </div>
                </p>
            </div>
        </div>
        </p>

    </div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>


{% endblock %}