{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% comment %} bootsrap 4.5.0 {% endcomment %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	{% comment %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script> {% endcomment %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	{% comment %} css file for base.html {% endcomment %}
	<link href="{% static 'base/base.css' %}" rel="stylesheet" type="text/css" />

	{% comment %} font awesome {% endcomment %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/de322c85e6.js" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'base/base.js' %}"></script>

	<link rel="icon" href="{% static 'base/cdcrc_logo_small.jpg' %}" type="image/x-icon">

	{% block head_content %}


	{% endblock %}

</head>

<body style="background-color: #dbe1e6;">
	<div class="container-fluid; padding:0;" >
		<div class="row" style=" color:white; background-color: #26445a; margin:0;">
			<div class="col-md-1" style="padding: 8px 0px 0px 0px;"><img id="cdcrc_logo"
					src="{% static 'base/cdcrc_logo.png' %}"></div>
			<div class="col-md-9" id="title">
				<span>
					<h1><strong>Career Development and Corporate Relations Center</strong></h1>
				</span>
				<span>
					<h3>Indian Institute of Technology Ropar</h3>
				</span>
			</div>
			<div class="col-md-2" id="info" style="text-align:left;">
				<br><br>
				{% if user.is_authenticated %}
					<span><strong>{{request.user.get_user_name}}</strong></span>
					<br>
					{% if user.is_staff %}
						<a style="color:white;" href="{% url 'admin:index' %}">Admin Panel</a>
					{% endif %}
					<br>
					<a style="color:white;" href="{% url 'profiles:view_profile' %}">My Profile</a>
					<br>
					<a style="color:white;" href="{% url 'logout' %}">Logout</a>
					<br><br>
				{% endif %} 
			</div>
		</div>
	
	{% comment %} <div class="container-fluid" style=""> {% endcomment %}
		<section>
			<nav class="navbar navbar-expand-lg" style="background-color:rgb(34, 76, 169); padding: 2px 6px 2px 6px;">
				<a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon" style="color: white; padding-top: 5px;">Menu</span>
			</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"> <i class="fas fa-bars fa-1x" style="color: white; padding-top: 5px;"></i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav custom-navbar">
						<!-- <div class="custom-navbar"> -->
						<a class="nav-item nav-link" href="{% url 'info:home' %}">Home</a>
						{% comment %} <a class="nav-item nav-link" href="{% url 'info:pd_about' %}">Professional Development</a> {% endcomment %}
						<div class="custom-dropdown nav-item" style="text-align: center;">
							<button class="custom-dropbtn nav-item nav-link" style="text-align: center;">Training & Placement
								<i class="fa fa-caret-down"></i>
							</button>
							<div class="custom-dropdown-content">
								<a href="{% url 'info:tnp_hod_message' %}">HoD's Message</a>
								<a href="{% url 'recruiter:why' %}">Why Recruit</a>
								<a href="{% url 'recruiter:guide' %}">Recruiter Guide</a>
								<a href="{% url 'recruiter:six_month_internship' %}">6 Month Internship</a>
								<a href="{% url 'recruiter:joint_master_thesis' %}">Joint Master Thesis</a>
								<a href="{% url 'recruiter:student_demographics' %}">Student Demographics</a>
								<a href="{% static 'recruiter/IITRPR_JAF.docx' %}">JAF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
								<a href="{% static 'recruiter/IITRPR_INF.docx' %}">INF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
								{% comment %} <a href="{% url 'recruiter:jaf' %}">JAF</a> {% endcomment %}
								{% comment %} <a href="{% url 'recruiter:inf' %}">INF</a> {% endcomment %}
								<a href="{% static 'recruiter/IIT_Ropar_CDCRC_Brochure.pdf' %}">Brochure&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
								<a href="{% static 'recruiter/AIPC_Guidelines.pdf' %}">AIPC Guidelines&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
								
								{% comment %} <a href="{% url 'recruiter:demographics' %}">Student Demographics</a> {% endcomment %}
							</div>
						</div>
						<div class="custom-dropdown nav-item" style="text-align: center;">
							<button class="custom-dropbtn nav-item nav-link" style="text-align: center;">Professional Development
								<i class="fa fa-caret-down"></i>
							</button>
							<div class="custom-dropdown-content">
								<a href="{% url 'info:pd_about' %}">About</a>
								<a href="{% url 'info:pd_hod_message' %}">HoD's Bio</a>
								<a href="{% url 'info:pd_activities' %}">Activities</a>
								<a href="{% url 'info:pd_books' %}">Library Resources</a>
								<a href="{% url 'info:pd_videos' %}">Video Resources</a>
								<a href="{% url 'info:pd_pg_resources' %}">Resources for PG Students</a>
								<a href="{% url 'info:pd_initiatives' %}">Initiatives</a>

							</div>
						</div>
						<div class="custom-dropdown nav-item" style="text-align: center;">
							<button class="custom-dropbtn nav-item nav-link" style="text-align: center;">Corporate Relations
								<i class="fa fa-caret-down"></i>
							</button>
							<div class="custom-dropdown-content">
								<a href="{% url 'info:cr_about' %}">About</a>
								<a href="{% url 'info:cr_hod_message' %}">HoD's Message</a>
								<a href="{% url 'info:cr_activities' %}">Activities</a>
							</div>
						</div>
						
						<div class="custom-dropdown">
							<button class="custom-dropbtn nav-item nav-link">The Team
								<i class="fa fa-caret-down"></i>
							</button>
							<div class="custom-dropdown-content">
								<a href="{% url 'info:faculty_team' %}">Faculty Team</a>
								<a href="{% url 'info:student_team' %}">Student Team</a>
							</div>
						</div>
						<a class="nav-item nav-link" href="{% url 'info:contacts' %}">Contact Us</a>
						{% if user.is_authenticated %}
							<div class="custom-dropdown">
								<button class="custom-dropbtn nav-item nav-link">Resources
									<i class="fa fa-caret-down"></i>
								</button>
								<div class="custom-dropdown-content">
									<a class="nav-item nav-link" href="{% url 'info:resources' %}">All Resources</a>
									<a class="nav-item nav-link" href="{% url 'info:create_resource' %}">Add Resource</a>
								</div>
							</div>
							{% comment %} <a class="nav-item nav-link" href="{% url 'info:resources' %}">Resources</a> {% endcomment %}
						{% endif %}
					</div>
				</div>
				<!-- </div> -->
			</nav>
		</section>
	{% comment %} </div> {% endcomment %}
	{% comment %} <div class="container-fluid" style=""> {% endcomment %}
		{% block body_content %}


		{% endblock %}
	</div>
</body>


<div class="container-fluid" style="">
	<div class="row justify-content-center">
		<footer class="panel-footer" style="background-color:#232f3e;">

			<div class="footer">
				<div class="container-fluid mainContainer">
					<div class="row" style="padding: 3%;">
						<div class="col-lg-4">
							<h3 class="fot-white">About</h3>
							<p class="fot-white">

								Career Development and Corporate Relations Center (CDCRC), IIT Ropar aims to guide students
								to
								to success in their careers, helps students with Professional Development, Training and
								Placement.
								The Corporate Relations department also engages with Industry for the development of the
								institute and its students.

							</p>
						</div>
						<div class="col-lg-4">
							<h3 class="fot-white">Address</h3>
							<p class="fot-white">

								Career Development and Corporate Relations Center<br>
								3rd Floor, M. Visvesvaraya Block (East Wing)<br>
								Indian Institute of Technology Ropar<br>
								Ropar, Punjab<br>
								India - 140001
						</div>
						<div class="col-lg-4">
							<h3 class="fot-white">Quick Links</h3>
							<a href="http://www.iitrpr.ac.in/" style="color: white;">IIT Ropar</a>
							<br><a  style="color: white;" href="{% static 'recruiter/IIT_Ropar_CDCRC_Brochure.pdf' %}">CDCRC Brochure</a>
							<br><a  style="color: white;" href="{% static 'recruiter/IITRPR_JAF.docx' %}">JAF</a>
							<br><a  style="color: white;" href="{% static 'recruiter/IITRPR_INF.docx' %}" style="color: white;">INF</a>
							{% if user.is_authenticated %}
								<br><a  style="color: white;" href="{% url 'logout' %}">Logout</a>
							{% else %}
								<br><a  style="color: white;" href="{% url 'login' %}">Login</a>
								<br><a  style="color: white;" href="{% url 'signup' %}">Sign Up</a>

							{%endif%}
							<br><a style="color: white;" href="{% url 'internal:home' %}" style="color: white;">Internal</a>
						</div>

					</div>
				</div>
			</div>

		</footer>
	</div>
{% comment %} </div> {% endcomment %}

{% comment %} <div class="container-fluid" style=""> {% endcomment %}
	<div class="row" style="padding-bottom:1em; background-color: #232f3e">

		<div class="col-1" style="text-align:center;"></div>
		<div class="col-2" style="text-align:center;">
			<a href="https://www.facebook.com/iitrpr" target="_blank">
				<i class="fab fa-facebook-square fa-3x" style="color:white;"></i>
			</a>
		</div>
		<div class="col-2" style="text-align:center;">
			<a href="mailto:placement@iitrpr.ac.in" target="_blank">
				<i class="fas fa-envelope-square fa-3x" style="color:white;"></i>
			</a>
		</div>
		<div class="col-2" style="text-align:center;">
			<a href="https://www.instagram.com/iitropar/?hl=en" target="_blank">
				<i class="fab fa-instagram-square fa-3x" style="color:white;"></i>
			</a>
		</div>
		<div class="col-2" style="text-align:center;">
			<a href="https://www.linkedin.com/in/cdcrciitrpr/" target="_blank">
				<i class="fab fa-linkedin fa-3x" style="color:white;"></i>
			</a>
		</div>
		<div class="col-2" style="text-align:center;">
			<a href="https://twitter.com/iitrpr?lang=en" target="_blank">
				<i class="fab fa-twitter-square fa-3x" style="color:white;"></i>
			</a>
		</div>
		<div class="col-1" style="text-align:center;"></div>
	</div>
{% comment %} </div> {% endcomment %}

{% comment %} <div class="container-fluid" style="padding:0;"> {% endcomment %}
	<div class="row justify-content-center" style="padding:0.1em; background-color: white">
		<a href="https://github.com/vinx-2105/cdcrc_website" style="color:black; font-size:0.7em;">Developed with <i class="fas fa-heart"></i> by Vineet Madan and Team</a>
	</div>
</div>