@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

#cdcrc_logo {
  margin: 0.5rem;
  width: 100%;
  max-width: 6rem !important;
}
a.header-link:link {
  color: white !important;
}


#info {
  left: 0px;
  min-width: 200px;
  max-width: 90%;
}

#title {
  padding-left: 25px;
  max-width: 90%;
  left: 0px;
}

/* visited link */
a.header-link:visited {
  color: white !important;
}

/* mouse over link */
a.header-link:hover {
  color: white !important;
}

/* selected link */
a.header-link:active {
  color: white !important;
}
.fot-white {
  color: white;
}
.custom-navbar {
  overflow: hidden;
  background-color: rgb(34, 76, 169);
}
.custom-navbar a {
  background-color: rgb(34, 76, 169);
  float: left;
  font-size: 16px;
  color: white;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
}

.custom-navbar a:hover {
  color: white;
  text-decoration: none;
}

.custom-dropdown {
  float: left;
  overflow: hidden;
}

.custom-dropdown .custom-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: rgb(34, 76, 169);
  font-family: inherit;
  margin: 0;
}

.custom-navbar a:hover,
.custom-dropdown:hover .custom-dropbtn {
  /* background-color: rgb(34, 76, 169); */
  background-color: rgb(77, 118, 210);
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(34, 76, 169);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(130, 145, 175, 0.2);
  z-index: 1;
}

.custom-dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.custom-dropdown-content a:hover {
  background-color: rgb(77, 118, 210);
  color: white;
  text-decoration: none;
}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}

/* FOOTER -------------------------*/

.panel-footer {
  /* margin-top: 30px; */
  /* padding-top: 35 px; */
  padding-bottom: 10px;
  background-color: #232f3e;
  border-top: 0;
  color: black;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#contact,
#links,
#about {
  line-height: 2;
}
#contact > span,
#links > span,
#about > span {
  font-size: 1.5em;
  text-align: center;
}
#links > a:link {
  color: white;
}

#title {
  align-self: center;
}
.main-heading {
  font-weight: bold;
  font-size: 30px;
}
.insti-name {
  font-size: 25px;
}

@media screen and (max-width: 1080px) {
  .main-heading {
    font-size: 25px;
  }
  .insti-name {
    font-size: 20px;
  }

  #title{
    padding: 5px 0px 0px 10px ;
  }
}
@media screen and (max-width: 910px) {
  .main-heading {
    font-size: 20px;
  }
  .insti-name {
    font-size: 15px;
  }

}

@media screen and (max-width: 770px) {
  .main-heading {
    font-size: 15px;
  }
  .insti-name {
    font-size: 13px;
  }
}
