#cdcrc_logo{
  margin:0.5rem;
  height: 7rem;
  width: 5rem;
}
a.header-link:link {
    color: white !important;
}

/* visited link */
a.header-link:visited {
    color: white !important;
}

/* mouse over link */
a.header-link:hover {
    color: white !important;
}

/* selected link */
a.header-link:active {
    color: white !important;
}

.custom-navbar {
    overflow: hidden;
    background-color: rgb(77, 118, 210);
  }

.fot-white{
  color: white;
}

.custom-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.custom-navbar a:hover{
    color: white;
    text-decoration: none;
}

.custom-dropdown {
  float: left;
  overflow: hidden;
}

.custom-dropdown .custom-dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.custom-navbar a:hover, .custom-dropdown:hover .custom-dropbtn {
  background-color: rgb(77, 118, 180);
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(77, 118, 210, 0.2);
  z-index: 1;
}

.custom-dropdown-content a {
  float: none;
  color: rgb(77, 118, 210);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.custom-dropdown-content a:hover {
  background-color: rgb(77, 118, 180);
  color: white;
  text-decoration: none;

}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}

/* FOOTER -------------------------*/

.panel-footer {
  /* margin-top: 30px; */
  /* padding-top: 35 px; */
  padding-bottom: 10px;
  background-color:#232f3e;
  border-top:0;
  color: black;
}
.panel-footer div.row{
  margin-bottom: 35px;
}
#contact, #links ,#about{
  line-height : 2;
}
#contact > span, #links > span , #about > span {
  font-size:1.5em;
  text-align: center;
}
#links > a:link{
  color:white
}


