{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>{{title}} | CDPC IIT Ropar</title>
<link href="{% static '_styles_build/internal/contact_us_form.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body_content %}
<div class="contact_us_wrapper">
    <div class="contact_us_form_wrapper">
        <form method='post' class="form_wrapper">
            <div class="heading">Contact Form</div>
            <div class="heading_subtext">Fill this simple form and we'll reach out to you!</div>
            {% csrf_token %}
            {% for field in form %}
            <div>
                <div>
                    {{ field }}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <br />
            </div>
            {% endfor %}
            <button class="button login-btn" input type="submit" value="Login" style="vertical-align: middle">
                <span>Submit</span>
            </button>
        </form>
    </div>
</div>
{% endblock body_content %}