{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Resources | CDCRC IIT Ropar</title>
<link href="{% static '_styles_build/info/css/resources.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_content %}

<section class="resource_container">
    <div class="global_heading">Resources</div>

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search.." id="search" aria-label="search"
            aria-describedby="basic-addon2" />
    </div>
    <br>
    <br>

    <div class="resource_wrapper">
        {% for resource in resources %}
        <div class="loc_card resource-card">
            <div class="card-body">
                <h5 class="card-title">{{resource.title}}</h5>
                <h6 class="card-subtitle text-muted">By: {{resource.author}}</h6>
                <div>
                    {% for category in resource.categories.all %}
                    {% if forloop.counter0|divisibleby:"2" %}
                    <span class="badge bg-success">{{category}}</span>
                    {% else %}
                    <span class="badge bg-danger">{{category}}</span>
                    {% endif %}
                    {% endfor %}
                </div>

                <hr>
                <p class="card-text">{{resource.brief|slice:"0:200"}}</p>


            </div>
                <a href="{% url 'info:resource_detail' resource.pk %}" class="detail-btn btn btn-primary">Detail</a>
            <div class="loc_card_footer text-muted">
                {{resource.datetime}}
            </div>
        </div>
        {% endfor %}
    </div>
    <br>

</section>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script>
    jQuery.expr[':'].case_insensitive_contains = function (a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };
    $(document).ready(function () {
        $('#search').keyup(function () {
            // Search text
            var text = $(this).val();
            // Hide all content class element
            $('.resource-card').hide();
            // Search and show
            $('.resource-card:case_insensitive_contains("' + text + '")').show();
        });
    });

</script>

{% endblock %}