{% extends "base.html" %}

{% load static %}

{% block head_content %}
<title>Create Resource | CDCRC IIT Ropar</title>

<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />

<style>
    .helptext {
        color: grey;
        font-size: 0.8rem;
    }
</style>
{% endblock %}




{% block body_content %}

<div class="ui container main-container">
    <div class="main-content">
        <div class="global_heading">Create Resource</div>
        <form class="form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="alert alert-info" role="alert">
                We really appreciate you taking the time to share your interview experience or any helpful tips with the
                students.
                <br/>
                <br/>
                Please consider the following points before proceeding further:
                <ol>
                    <li>
                        At the bottom, we have a <strong>markdown</strong> editor. You can upload emojis, images, link to other articles
                        etc.
                    </li>
                    <li>
                        You can make yourself familiar with markdown syntax <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">here</a>. It's straightforward and will be a
                        cakewalk for you. 🙂
                    </li>
                    <li>
                        Please don't upload any image >10MB size. The server won't accept it. 😥
                    </li>
                    <li>
                        Ensure that the image extension is any one of the png, jpg, jpeg, pjpeg, or gif.
                    </li>
                    <li>
                        You are good to go now! All the best, and Thank you again for helping your institute "IIT
                        Ropar". 🎉🎉
                    </li>

                </ol>




            </div>
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="Submit Resource for Approval" class="btn btn-primary" />
            </div>
        </form>
        <br>
    </div>
    <div class="col-md-1"></div>
</div>


{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}