{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>Corporate Relation, HOD's Message | CDPC IIT Ropar</title>
    <link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />


	<style>
		#cr_hod_message_heading{
			background-image: url('/static/info/images/symbol_3.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
{% endblock %}

{% block body_content %}
    <div class="container-fluid">
		<div class="row">
			<div id="cr_hod_message_heading" class="col-md-5">
				<h1 style="margin-top:1em; margin-bottom:1em; color:white;">A Message<br> from the<br> HOD, Corporate Relation Cell</h1>
			</div>
			<div class="col-md-7" style="padding:0;">
				<img style="object-fit:cover;height:20em; width:100%;" src="" alt="Cr HOD's Image" style="width:100%;">
            </div>
        
        </div>
		<div class="row">
			{% comment %} <div class="col-md-1"></div> {% endcomment %}
			<div class="col-md-12" style="background-color:white;">
				<p style="color:black; padding:1em;" >
					Dear Friends<br><br>
					धियो यो नः प्रचोदयात् <br><br>
					(Deploy our intellect on the right path).
					<br><br>

					Jai Hind!
				</p>
			</div>
			{% comment %} <div class="col-md-6"></div>
			<div class="col-md-1"></div> {% endcomment %}

		</div>
	</div>

{% endblock %}