{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<link href="{% static 'info/css/past_recruiters.css' %}" rel="stylesheet" type="text/css" />

<title>Past Recruiters | CDCRC IIT Ropar</title>

{% endblock %}

{% block body_content %}
    <div class="row justify-content-center" style="background-color: rgb(226, 221, 200); text-align:center;" >
        <div class="col-12">
            <h2 style="padding:1em;">List of Past Recruiters</h2>
        </div>
    </div>

    <div class="box">
        <div class="companies">
            <script>
                var count=1;
                var companies=[]
                "{% for company in companies %}"
                {
                    document.write(count+". "+"{{ company.company|safe }}")
                    document.write("<br>");
                    //let company = count+". "+"{{ company.company|safe }}";
                    //companies.push(company);
                    count = count + 1;
                }
                "{% endfor %}"

            </script>
        </div>
    </div>


{% endblock %}