{% comment %} {% extends 'base.html' %}
{% load static %}
{% block body_content %}
<h1>Register</h1>
<form method="POST" actions="">
    {% csrf_token %}
    <ul style="list-style-type:None">
        <li>Company Name: {{form.company}}</li>
        <li>Username: {{form.username}}</li>
        <li>First Contact Email Address: {{form.email}}</li>
        <li>Password: {{form.password1}}</li>
        <li>Confirm Password: {{form.password2}}</li>
    </ul>
    {{form.errors}}
    Already a user <a href={% url 'login' %}>login</a><br>
    <input type="submit" name="create_recruiter">
</form>
{% endblock %} {% endcomment %}