{% extends 'base.html' %} {% load static %} {% block head_content %}
<title>Password Reset Confirm | CDPC</title>
<link
  href="{% static '_styles_build/internal/global_password_reset.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock head_content %} {% block body_content %}

<div class="password_reset_message_wrapper">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br />
      <div class="jumbotron">
        {% if user.is_authenticated %}
        <div class="already_logged_in_message">You are already logged in :)</div>
        {% else %} {% if validlink %}
        <h3>Change Password</h3>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Change password</button>
        </form>
        {% else %}
        <p>
          The password reset link was invalid, possibly because it has already
          been used. Please request a new password reset.
        </p>
        {% endif %} {%endif%}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
