{% extends 'base.html' %} {% load static %} {% block head_content %}
<title>Password Reset | CDCRC</title>
<link
  href="{% static '_styles_build/internal/global_password_reset.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock head_content %} {% block body_content %}

<div class="password_reset_message_wrapper">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br />
      <div class="jumbotron">
        {% if user.is_authenticated %}
        <div class="already_logged_in_message">You are already logged in :)</div>
        {% else %}
        <p>
          We've emailed you instructions for setting your password, if an
          account exists with the email you entered. You should receive them
          shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the
          address you registered with, and check your spam folder.
        </p>
        {%endif%}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
