{% extends 'base.html' %} {% load static %} {%block head_content %}
<title>Reset Password | CDPC</title>

<link
  href="{% static '_styles_build/internal/forgot_password.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block body_content %}

<div class="password_reset_form_wrapper">
  <div class="form_wrapper">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br />
      <div class="jumbotron">
        <h3>Reset Password</h3>
        <hr />
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_email"> Email </label>
            <input
              class="form-control"
              type="email"
              name="email"
              autocomplete="email"
              maxlength="254"
              required=""
              id="id_email"
            />
          </div>
          <div class="col-md-8">
            <button
              class="button"
              input
              type="submit"
              value="Login"
              style="vertical-align: middle"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

{% endblock %}
