{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>CDCRC IIT Ropar | Signup</title>
<link href="{% static '_styles_build/internal/signup.css' %}" rel="stylesheet" type="text/css" />
{% endblock head_content %}


{% block body_content %}
<div class="signup_wrapper">
  <div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <br>
        <div>
          <div class="form_wrapper">
            {% if user.is_authenticated %}
            <div class="already_logged_in_message">You are already logged in</div>
            {% else %}
            <div class="heading">
              Sign Up
              <hr>
            </div>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                {% endif %}
                {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
              {% endfor %}
              <div style="text-align: center;">
                <button class="button register-btn" input type="submit" style="vertical-align: middle">
                  <span>Register</span>
                </button>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
{% endblock %}