@import "../../variables";

$home_page_border_radius: 10px;

.home_page_container {
  margin: auto;
  padding: 0.5rem 0rem;
  background: #f3f4ed;
}

.custom_container {
  width: 95%;
  margin: auto;
  .heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.about_iit_ropar_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15px;
  .banner-image {
    height: 50vh;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .about_iit_ropar {
    padding: 18px 0px;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
  }
}

@media all and (max-width: 846px) {
  .about_iit_ropar_wrapper {
    display: flex;
    flex-direction: column;
  }
}

.directors_message {
  margin-top: 1.2rem;
  background: #faf6e9;
  border-radius: $home_page_border_radius;
  display: flex;
  padding: 10px 12px;
  flex-direction: column;
  line-height: 1.5;
  text-align: justify;
  a {
    color: $primarycolor-700;
  }
}

.industrial_partners_wrapper {
  background: #fcea90;
  margin-top: 10px;
  padding: 1.2rem !important;
  border-radius: $home_page_border_radius;
}

.heading_wrapper_img {
  height: 50px;
}

.newroom_stats_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  .newsroom_wrapper {
    word-break: break-all;
    background: #fde9df;
    margin-top: 10px;
    padding: 1.2rem !important;
    padding-right: 0rem !important;
    border-radius: $home_page_border_radius;

    #News, #Events{
      max-height: 400px;
      height: 40vh;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
       }
       &::-webkit-scrollbar-thumb {
        background: $primarycolor-800;
        border-radius: 30px;
       }
       &::-webkit-scrollbar-track{
        background: #ffffff;
        border-radius: 10px;
        box-shadow: inset 7px 10px 12px #f0f0f0;
       }
    }

    .home-tab,
    .events-tab {
      .content {
        margin: 14px auto;
        display: flex;
        padding-right: 15px;
        gap: 10px;
        .calender_icon {
          width: 50px;
        }
        .title {
          font-size: 1rem;
          font-weight: bold;
        }
        .data {
          font-size: 0.8rem;
          text-align: justify;
        }
        .text_content {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .some_stats {
    background: #ffcdb5;
    margin-top: 10px;
    padding: 1.2rem !important;
    border-radius: $home_page_border_radius;
  }
}

@media all and (max-width: 600px) {
  .newroom_stats_wrapper {
    display: flex;
    flex-direction: column;
  }
}

#News-tab.active, #Events-tab.active{
  background: #ff8474; 
}