@import "../../variables";
@import "../../_global_mixins.scss";

$border_radius: 10px;

.placement_stats_wrapper {
  .heading {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    width: 90%;
    margin: auto;
    border-radius: $border_radius;
    margin-top: 15px;
    margin-bottom: 20px;
    background: #faf1e6;
  }

  .subheading {
    margin-left: 20px;
    font-weight: bold;
    font-size: 22px;
  }

  .table-section {
    margin-top: 55px !important;
    margin-bottom: 20px;
  }
}
