{% extends 'base.html' %}
{% load static %}

{% block head_content %}
{% comment %} css file for contacts.html {% endcomment %}
<link href="{% static 'info/css/contacts.css' %}" rel="stylesheet" type="text/css" />
<title>Contact Us|CDCRC IIT Ropar</title>
{% endblock %}


{% block body_content %}
<div class="container-fluid page-contact">
    <div class="row justify-content-center" style="background-color: rgb(226, 221, 200); text-align:center;">
        <div class="col-12">
            <h2 style="padding:1em;">Contact Us</h2>
        </div>
    </div>
    <div class="row"><br></div>

    <div class="row head-contact-row">

        <div class="col-md-4 ">
            <div class="border zoom contact">

                <h4 class="head-contact">Dr. Dhiraj K. Mahajan</h4>
                <span>
                    <h5>Head, Training & Placement </h5>
                </span>
                <p>Associate Professor,<br>Department of Mechanical
                    Engineering
                    <br> Indian Institute of Technology Ropar <br> <a
                        href="mailto:hod.placement@iitrpr.ac.in">hod.placement@iitrpr.ac.in</a> <br>Mob:
                    +91-78142-52244</p>
            </div>
        </div>
        <div class="col-md-4  ">
            <div class="border zoom contact">
                <h4 class="head-contact">Dr Asad H. Sahir</h4>
                <span>
                    <h5>Head, Professional Development</h5>
                </span>
                <p>Assistant Professor,<br>Department of Chemical
                    Engineering
                    <br> Indian Institute of Technology Ropar <br><a
                        href="mailto:hod.pd@iitrpr.ac.in">hod.pd@iitrpr.ac.in</a> <br> Mob:
                    +91-97722-71581</p>
            </div>
        </div>

        <div class="col-md-4  ">
            <div class="border zoom contact">
                <h4 class="head-contact">Dr Srikant S. Padhee</h4>
                <span>
                    <h5>Head, Cooperate Relations Cell</h5>
                </span>
                <p>Assistant Professor,<br>Department of Mechanical
                    Engineering
                    <br> Indian Institute of Technology Ropar <br><a
                        href="mailto:sspadhee@iitrpr.ac.in">sspadhee@iitrpr.ac.in</a> <br> Mob:
                    +91-84275-87779</p>
            </div>
        </div>

    </div>
    <div class="row head-contact-row">
        <div class="col-md-2"></div>
        <div class="col-md-4  ">
            <div class="border zoom contact">
                <h4 class="head-contact">Placement & Corporate Relations Manager</h4>
                <span>
                    <h5>Mr. Subodh Sharma</h5>
                </span>
                <p>Placement & Corporate Relations Executive<br>Indian Institute of Technology Ropar
                    <br> <a href="mailto:placement@iitrpr.ac.in">placement@iitrpr.ac.in</a> <br> Mob:
                    +91-86990-20183</p>
            </div>
        </div>
        <div class="col-md-4  ">
            <div class="border zoom contact">
                <h4 class="head-contact">CDCRC Office</h4>
                <br>
                <h5>Mr. Puneet Sharma</h5>
                <p>
                    Office Assistant <br>
                    CDCRC office <br>
                    Indian Institute of Technology Ropar <br>
                    <a href="mailto:cdcrc.office@iitrpr.ac.in">cdcrc.office@iitrpr.ac.in</a><br>
                    Mobile: +91-8847027089 </p>

            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
    <hr>
    <div class="border contact-2">

        <h2><strong>HOW TO REACH IIT ROPAR</strong></h2>
        <div>

            <p>By Air The nearest airport, is in Chandigarh, about 60 kilometers from Rupnagar. Any visitor
                wishing
                to come to Rupnagar/Ropar could take a flight from his/her respective place to chandigarh if
                available or a flight from delhi to Chandigarh and then take a taxi from the airport to reach
                the
                Campus of Indian Instute Of Technology Ropar(IIT Ropar) which ia 1.5-2 hours journey. There are
                regular flights from delhi to chandigarh. The taxi can also be arranged by the Institute,if
                communicated by the recruiter before hand. By Train there are regular trains plying between
                Delhi
                and Rupnagar. The Delhi-Ambala-Una railway line passes through Rupnagar. The duration of the
                journey
                is around 6 hours from Delhi. Anyone wishing to visit the campus may also take a train from
                his/her
                place to Ambala or Chandigarh and then a taxi ride to the IIT Ropar campus just takes around
                1-1.5
                hours. The taxi can also be arranged by the Institute on prior information given to the
                institute.
                By Road The town of Ropar, the district headquarters, is 42 kilometers from Chandigarh, the
                capital
                of Punjab. Rupnagar is well connected by road through National highway NH-21. It is about 280 km
                from Delhi through highway. For reaching Rupnagar initially can follow NH-1 from Delhi to Ambala
                City via Panipat, Karnal and Kurukshetra then reach Chandigarh and finally go along NH-21 to
                reach
                Rupnagar via Kharar, Kurali.</p>
        </div>

        <!--Section: Contact v.1-->
        <section class="section pb-5">



            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 mb-4">

                    <p><strong>1) BY AIR:</strong>&nbsp;The approachable airport to the city is Chandigarh which
                        is
                        approximately 50 km away from IIT Ropar. One can easily get a direct flight to
                        Chandigarh
                        from cities like Delhi, Kolkata, Mumbai, Lucknow, etc. The taxi charges from Airport to
                        IIT
                        Campus are about INR 600/-.</p>
                    <p><strong>2) BY RAIL:</strong>&nbsp;Since Ropar lies in the heartland of the North Indian
                        plains, it is connected to major cities of India via rail. There is a railway stations
                        in
                        Rupnagar city approx. 5Km from IIT Ropar main campus.</p>
                    <p><strong>From Rupnagar Rly. Station (Junction) to IIT:</strong></p>
                    <p>IIT Campus is about 5 km. from Rupnagar Railway Station. Round the clock Auto/Taxi
                        services
                        are available from Rupnagar Cantt. Station to IIT. The tentative charges are for reserve
                        auto, Rs.120-150/-, shared auto Rs. 15/- and for taxi, Rs. 300/- to 350/-</p>


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7">

                    <!--Google map-->
                    <div id="map-container-google-11" class="map-container-6 border ">
                        <iframe
                            src="http://maps.google.co.in/maps?f=d&source=s_d&saddr=Railway+Station,+Chandigarh&daddr=iit+ropar&hl=en&geocode=FUl51AEd8DWUBCGW-iH2YJZWBw%3BFYyk2AEdUOWPBCHHpnOs5joYWg&aq=t&sll=21.125498,81.914063&sspn=26.762397,46.538086&mra=ls&ie=UTF8&t=m&ll=30.837983,76.68251&spn=0.21814,0.376968&z=11&output=embed"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                </div>
            </div>

    </div>

    </section>
    {% endblock %}