{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>{{title}} | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
<div class="container-fluid" style="background-color: rgb(226, 221, 200); text-align:center;" >
    <div class="row">
        <div class="col-md-12">
            <h2 style="padding:1em;">Contact Form</h2>
            <p>Fill this simple form and we'll reach out to you!</p>
        </div>
    </div>
</div>

<div class="container-fluid" >
    <div class="row">
        <div class="col-12" style="text-align:center;">
            <form method='post'>
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-1">
                        <br>
                        {{ field.label_tag }}
                        <br>
                    </div>
                    <div class="col-11">
                        <br>
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <br>
                    </div>
                    <br>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <br><br>
                    </div>
                <div>
            </form>
        </div>
    </div>
</div>

{% endblock body_content %}