{% extends 'base.html' %}
{% load static %}

{% block head_content %}
{% comment %} css file for contacts.html {% endcomment %}
<script type="text/javascript" src="{% static 'info/js/resources.js' %}"></script>
<link href="{% static 'info/css/for_recruiters.css' %}" rel="stylesheet" type="text/css" />
<title>CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
<section class="bodySectionStart">
    <div class="mainContainer container-fluid">
        <!-- <div class="row"> -->
            <div class="row">
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                SDE</h5>
                            <a href="http://www.iitkgp.ac.in/department/CY/faculty/cy-raja" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                Non-Core</h5>
                            <a href="http://www.iitkgp.ac.in/department/CH/faculty/ch-parag" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                EE</h5>
                            <a href="http://www.iitkgp.ac.in/department/IM/faculty/im-mj" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                MECH</h5>
                            <a href="http://www.iitkgp.ac.in/department/IP/faculty/ip-uday" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                Interviews</h5>
                            <a href="#" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                Quant</h5>
                            <a href="" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                Projects</h5>
                            <a href="#" target="_blank">LINK</a></div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card card-cascade narrower card-ecommerce">
                        <img class="img-fluid" src="https://picsum.photos/200/300">
                        <div class="card-body">
                            <h5>
                                Resume</h5>
                            <a href="#" target="_blank">LINK</a></div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>


{% endblock %}