{% extends 'base.html' %}
{% load static %}



{% block head_content %}
    <title>CDCRC  IIT Ropar | Team</title>
    <link href="{% static 'team/css/team_list.css' %}"  rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body_content %}
<div class="row justify-content-center" style="padding-top: 20px; padding-bottom: 0px; background-color: #dbe1e6;">
<h1 class= "title_text ">Our Team</h1>
</div>
<div class="container-fluid" style="background-color: #dbe1e6;">
<div class="row justify-content-center">
<table class="content-table">
    <thead>
      <tr style="background-color: #458af3;">
        <th>Sr. No.</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Branch</th>
        <th>Course</th>
        <th>Year</th>
        <th>Mail</th>
        <th>Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anumula Jithendar Reddy</td>
        <td>Core Team Head</td>
        <td>Electrical Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018EEB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      {% for member in teams.all %}
      <tr >
        <td>2</td>
        <td>{{member.profile.name}}</td>
        <td>{{member.designation}}</td>
        <td>{{member.profile.Branch}}</td>
        <td>{{member.profile.Course}}</td>
        <td>{{member.profile.year}}</td>
        <td>{{member.profile.phone}}</td>
        <td>{{member.profile.email}}</td>
      </tr>
      {% endfor %}
      <tr >
        <td>2</td>
        <td>Immadi Pruthvi Tej</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Arpit Agarwal</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr >
        <td>4</td>
        <td>Pallerla Reddy</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Chitrang Murdia</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr >
        <td>6</td>
        <td>Satvat Jagwani</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Aman Bansal</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr >
        <td>8</td>
        <td>Sarvesh Mehtani</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Pranav Goyal</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
      <tr >
        <td>10</td>
        <td>Jigar Nilesh Mehta</td>
        <td>Core Team Member</td>
        <td>Computer Science And Engineering</td>
        <td>B.Tech</td>
        <td>3rd Yr</td>
        <td>2018CSB1155@iitrpr.ac.in</td>
        <td>9879794505</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

{% endblock %}