$color-button-text: #fff;
$primarycolor-200: #b2bdcd;
$primarycolor-100: #dee3ea;
$primarycolor-300: #5d7290;
$primarycolor-600: #323d4d;
$primarycolor-700: #242c37;
$primarycolor-800: #151a21;
$primarycolor-900: #0b0e11;
$color-secondary-washed-out: #879eed;
$color-secondary: #5575e7;
$color-accent-glow: rgba(253, 77, 77, 0.3);
$color-accent: #fd4d4d;
$color-accent-hover: #fd6868;
$color-accent-disabled: #f5bfbf;
$screen-height-reduction: 0px;
$color-primary-100-translucent: rgba(222, 227, 234, 0.15);
$bootstrap-primary: #0074d9;
$bootstrap-danger: #ff4136;