
  .bodySectionStart {
    background-color: #dbe1e6;
    padding: 50px 10px 10px 45px;
  }
  
  #leftSidecssmenu {
    /* padding: 10px; */
    width: 100%;
    color: #2b2b2b;
    background: rgb(247, 247, 249);
    border: 1px solid rgb(206, 199, 199);  /*#f3f3f3*/
  }
  /* #leftSidecssmenu>ul{
    padding: 10px 10px 10px 10px;
  } */
  #leftSidecssmenu ul li  {
    /* padding: 10px 10px 10px 10px; */
    border-bottom: 1px solid #dbe1e6;
  }
  #leftSidecssmenu>ul>li>a {
    padding: 15px 10px;
    cursor: pointer;
    /* z-index: 0; */
    font-size: 15px;
    text-decoration: none;
    color: #1a1a1a;
  }
  #leftSidecssmenu>ul>li>a:hover {
  background-color: #dbe1e6;
  }
  #leftSidecssmenu ul li :last-child {
    padding: 6px 5px 6px 10px;
    border-bottom: 10px;
  }
  #leftSidecssmenu>ul>li>ul>li>a {
    padding: 15px 10px;
    cursor: pointer;
    /* z-index: 0; */
    font-size: 15px;
    text-decoration: none;
    color: #1a1a1a;
    /* margin: 0px; */
    
  }
  #leftSidecssmenu>ul>li>ul>li>a:hover {
  background-color: #dbe1e6;
  color: black;
  /* margin: 0px; */
  }
  #leftSidecssmenu ul li ul li :last-child {
    padding: 6px 5px 6px 10px;
    border-bottom: 10px;
    /* margin: 0px; */
  }     
  /* #leftSidecssmenu ul, #leftSidecssmenu ul li, #leftSidecssmenu ul li a {
    margin: 0%;
    padding: 0%;
    border: 0%;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } */
  #leftSidecssmenu, #leftSidecssmenu ul, #leftSidecssmenu ul li, #leftSidecssmenu ul li a ,#leftSidecssmenu ul li ul li a {
    margin: 0%;
    padding: 0%;
    border: 0%;
    list-style: none;
    line-height: 2;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #leftSidecssmenu ul ul li:hover>a, #leftSidecssmenu ul ul li.open>a, #leftSidecssmenu ul li.active>a {
    background: #458af3;
    color: #ffffff;
  }
  
  .curriculum-btn {
    /* font-size: 16px;   */
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }