@mixin animated_button {
  .button {
    font-size: 1rem;
    border-radius: 10px;
    background-color: #1877f2;
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px auto;
    width: 100%;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}

@mixin form_group_styles {
  .form-group {
    padding: 7px 0px;
    margin: auto;
    label {
      padding: 3px 0px;
      font-size: 1rem;
    }
  }
}

@mixin form_wrapper_styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px auto;
  width: 80%;
  padding: 20px;
}
