{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>Password Reset Complete | CDCRC</title>
{% endblock head_content %}

{% block body_content %}
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
              <br>
              <div class="jumbotron">
                  {% if user.is_authenticated %}
                    <p>You are already logged in :)</p>
                  {% else %}
                    <p>
                      Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                    </p>
                  {%endif%}
                  
              </div>
          </div>
          <div class="col-md-1"></div>
      </div>
    </div>
    
  
{% endblock %}