{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Add Contact | Internal | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
<div class='container-fluid'>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Add Contact</h1>
            <hr>
            <form method='POST'>
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                {% comment %} <div class="form-group">
                    {{form.first_name.label_tag}}
                    {{form.first_name.errors}}
                    {{form.first_name}}
                </div> {% endcomment %}
                {{ form.as_p }}
                <input type="submit" value="Add Contact" class="btn btn-primary" style='margin:0 44%;'>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}