{% extends 'base.html' %}
{% load static %}
{% block body_content %}

{% block head_content %}
    <title> Update Profile | CDCRC IIT Ropar</title>
    <link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />
{% endblock head_content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br>
            <div class="jumbotron">
                <h1>Update Student Profile</h1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}