@import "../global_mixins";

body {
  background: #f0f2f5;
}

.password_reset_form_wrapper {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
  .form_wrapper {
    @include form_wrapper_styles;
    @include form_group_styles;
    @include animated_button;
  }
}
