.password_reset_message_wrapper{
    height: 40vh;
    display: flex;
    width: 90%;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}