{% extends 'base.html' %}
{% load static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
           {# Adds date-picker required JS and CSS #}

{% block head_content %}
{{ form.media }} 
<title>Issue Follow Up | Internal | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
<div class='container-fluid'>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <br>
            <h1>Issue Follow Up</h1>
            <hr>
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add Follow Up" class="btn btn-primary" style='margin:0 44%;'>
            </form>
            <br>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}