{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Internal | Home | CDCRC IIT Ropar</title>
{% endblock %}

{% block body_content %}
<div class='container-fluid'>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Import contacts from csv</h1>
            <p>The format of csv should be [first_name, last_name, suffix, job, email, company, phone 1, phone 2, linkedin, remark]</p>
            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <br> {% endcomment %}
                <input  class="btn btn-primary" type='submit' value="Import">
                <br><br>
            </form>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}